* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  --dimension: 1;
}

.square {
  width: calc(100% / var(--dimension));
  height: calc(100% / var(--dimension));
}
